:root {
  --mainBrown: #332311;
  --mainYellow: rgb(255, 158, 9);
  --mainGrey: #ece8dc;
  --mainWhite: #fff;
  --mainDark: #222;
}

body{
  background: var(--mainWhite);
  color:  var(--mainDark);
  font-family: Verdana, Genava, Tahoma, sans-serif !important;
}
h1,h2,h3,h4,h5{
  font-family: Verdana, Genava, Tahoma, sans-serif !important;
  letter-spacing: 0.25rem !important;
}
.text-yellow{
  color: var(--mainYellow);
}
.cart-icon {
  cursor: pointer;
  color: var(--mainYellow);
  font-size: 2rem;
}
.default-background{
  min-height:100vh;
  display:flex;
  align-items:center;
  justify-content: center;
  background: linear-gradient(rgba(214, 14, 0, 0.5), rgba(255, 158, 9, 0.5));
  opacity:1 !important;
  background-position: center;
  background-size: cover;
}
.mobile-background{
  min-height:100vh;
  display:flex;
  align-items: center;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)) !important;
  padding-top: 30vh;
  justify-content: center;
  background-size: contain!important;
}
.mobile-background h1{
  font-size: 35px !important;
  width: 300px;
  opacity: 0.8;
  line-height: 3rem;
}
.btn-yellow, .btn-yellow:focus{
  color:var(--mainYellow) !important;
  border: 1px solid var(--mainYellow) !important;
  outline: none;
  box-shadow:none!important;
}
.about-button{
  display: table;
  margin: auto;
}
.btn-yellow:hover {
  color: white!important;
  background-color: var(--mainYellow)!important;
}

.footer{
  background-color: var(--mainBrown);
}
.about-background{
  min-height:60vh;
  display:flex;
  align-items:center;
  justify-content: center;
  background: linear-gradient(rgba(214, 14, 0, 0.5), rgba(255, 158, 9, 0.5));
  opacity:1 !important;
  background-position: center;
  background-size: cover;
}