:root {
  --mainBrown: #2d1ef1;
  --mainYellow: #ff9e09;
  --mainGrey: #ece8dc;
  --mainWhite: #fff;
  --mainDark: #222;
}

body{
  background: var(--mainWhite);
  color:  var(--mainDark);
  font-family: Verdana, Genava, Tahoma, sans-serif !important;
}
h1,h2,h3,h4,h5{
  font-family: 'Courier New', Courier, monospace !important;
  letter-spacing: 0.25rem !important;
}
.text-yellow{
  color: var(--mainYellow);
}